<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Metadados  -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% # Dependências CSS %>
    <%= stylesheet_link_tag "/layout/assets/fonts/stylesheet.css",         "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/style.min.css",            "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "admin",                                       "data-turbo-track": "reload" %>
    <% # App JS do projeto %>
    <%= javascript_include_tag "/layout/assets/js/script.js",                                     "data-turbo-track": "reload" %>
  </head>
  <body class="">
    <!-- Main navbar -->
    <div class="page-flex">
      <%= render "shared/sidebar" %>
      <div class="main-wrapper">
        <div class="layer"></div>
        <%= render "shared/navbar" %>
        <%= yield %>
      </div>
    </div>
  </div>
  <!-- Icons library -->
  <script src="plugins/feather.min.js"></script>
</body>
</html>