<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Metadados  -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% # Dependências CSS %>
    <%= stylesheet_link_tag "/layout/assets/fonts/stytesheet.css",         "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/style.css",           "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "admin",                                  "data-turbo-track": "reload" %>
    <% # App JS do projeto %>
    <%= javascript_include_tag "/layout/assets/js/scriptjs",                                     "data-turbo-track": "reload" %>
  </head>
  <body class="">
    <!-- Main navbar -->
    <%= render "shared/navbar" %>
    <!-- Page content -->
    <div class="page-content">
      <!-- Main sidebar -->
      <%= render "shared/sidebar/sidebar" %>
      <!-- /main sidebar -->
      <div class="content-wrapper">
        <div class="content-inner">
          <%= yield :context_nav %>
          <div class="content">
            <%= yield %>
          </div>
        </body>
      </html>